<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BeLL Videoschnitt-KI</title>
  <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">

</head>
<body class="flex flex-col min-h-screen">


  <div class="Informationen bg-blue-500 text-white p-3 rounded cursor-pointer hover:bg-green-100 m-4">
    <!-- Schreiben das MM:SS.ms Format beachtet werden soll -->
    <p>
      Helfen Sie mit, Trainingsdaten für meine Besondere Lernleistung zu
      sammeln!
    </p>
    <p>
      Mein Ziel ist es, eine KI zu entwickeln, die in einem gegebenen Video
      – zum Beispiel einem Interview – automatisch bis zu zwei Schnitte
      setzt, um Versprecher und Pausen zu entfernen.
    </p>
    <p>So funktioniert es:</p>
    <ol>
      <li>Wählen Sie ein Video aus.</li>
      <li>
        Setzen Sie mithilfe des Schiebereglers die gewünschten Schnitt.
      </li>
      <li>Senden Sie die bearbeitete Version ab.</li>
    </ol>
    <p>Vielen Dank für Ihre Unterstützung!</p>
  </div>
<div id="Video" class="bg-yellow-600 flex justify-center">
    <input type="file" id="VideoInput" accept="video/mp4" style="display: none;"/>
    <label for="VideoInput" id="VideoInputLabel" 
      class="bg-green-100 border block text-center p-5 w-1/5 rounded-lg"
    >Video auswählen</label>
    <video id="VideoPlayer" controls style="display: none;" class=""></video>
    <p id="dauerGeschnittenesVideo" style="display: none;" class="">Dauer geschnittenes Video:</p>
    <!-- maybe Remove Video Button?-->
    <button id="geschnittenesVideoPlayBtn" style="display: none;" class="">Spiele geschnittenes Video</button>
  </div>
  <div id="restContainer" style="display: none;">
    <div id="SchnittContainer"></div>
    <button id="addNewCutBtn">Schnitt hinzufügen</button>
    <div id="Beschreibung">
      <label for="BeschreibungInput">Beschreibung:</label>
      <input type="text" id="BeschreibungInput" placeholder="Beschreibung was geschnitten wurde im Video" required/>
    </div>
    <button id="AbsendeBtn">Absenden</button>
  </div>
  
  <script src="static/script.js"></script>
</body>
</html>
